node {
  label: data(title);

  shape : round-rectangle;
  width: label;
  height: label;

  background-color:  #666;

  padding: 5px;

  color: whitesmoke;
  text-wrap: wrap;
  text-justification: center;
  text-max-width: 300px;
  text-halign: center;
  text-valign: center;
  font-size: 40;
}

node:selected {
  background-color: #2d2d2d;
}

edge:selected {
  background-color: #2d2d2d;
}


edge {
   width: 10;
   line-color: #ccc;
   curve-style: bezier;
   target-arrow-color: #ccc;
   target-arrow-shape: triangle;
   arrow-scale: 2;
}

edge[type="series"] {
  line-color: red;
  target-arrow-color: red;
}

edge[type="reference"] {
  line-color: blue;
  target-arrow-color: blue;
  line-style: dashed;
  line-dash-pattern: 6;
}

edge[type="other"] {
  line-color: green;
  target-arrow-color: green;
  line-style: dashed;
  line-dash-pattern: 6;
  arrow-scale: 0;
}
